.home-components{
    display: flex;
}.header-conponents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    max-width: 955px;
}
.header-conponents h4{
    font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 59px;

}
